/* dark form */

.container{
  width: 100vw;
  display: flex;
  justify-content: center;
}

.form-container-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 500px;
  height: 700px;
}


.form-container-dark h2 {
  margin-bottom: 30px;
  color: white;
}

.form-container-dark .label {
  font-weight: 700;
  display: flex;
  margin: 10px 0 3px 0;
  color: white;
}

.button-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

/* light form */

.form-container-light {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 500px;
  height: 700px;
}

.form-container-light h2 {
  margin-bottom: 30px;
  color: black;
}

.form-container-light .label {
  font-weight: 700;
  display: flex;
  margin: 10px 0 3px 0;
  color: black;
}