* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.light {
  --action-button-bg-color: #f1f1f1;
  --action-button-border-color: #c7c7c7;
  --action-button-bg-hover-color: #f6f6f6;
  --action-button-bg-focus-color: #c7c7c7;
  --bg-color: #fff;
  --font-color: rgba(0, 0, 0, 0.85);
  --table-head-bg: #dbdbdb;
  --table-row-bg: #e4e4e4;
  --table-child-row-bg: #dbdbdb;
  --table-row-bg-hover: rgba(0, 0, 0, 0.2);
}

.dark {
  --action-button-bg-color: #2a2a2a;
  --action-button-border-color: #565656;
  --action-button-bg-hover-color: #3f3f3f;
  --action-button-bg-focus-color: #1e1e1e;
  --bg-color: #1e1e1e;
  --font-color: #fff;
  --table-head-bg: #313131;
  --table-row-bg: #383838;
  --table-child-row-bg: #313131;
  --table-row-bg-hover: rgba(255, 255, 255, 0.1);
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-color);
  background-size: cover;
}

.switch {
  width: 100%;
  position: absolute;
  top: 56px;
  padding-left: 56px;
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 64px;
  height: 32px;
  background-color: #e9e9e9;
  border-radius: 8px;
}

.moon {
  padding: var(--switch-padding);
  width: var(--switch-width);
  background: var(--contact-container-title-color);
  border-radius: 8px;
  cursor: pointer;
}

.sun {
  padding: var(--switch-padding);
  width: var(--switch-width);
  cursor: pointer;
}

.grid-container {
  width: 1218px;
  height: 100%;
}

@media screen and (max-width: 1256px) {
  .grid-container {
    width: 100%;
  }
}

.contact-container-title {
  display: flex;
  max-width: 1218px;
  height: 47px;
  margin-top: 168px;
  justify-content: space-between;
  padding-bottom: 10px;
}

.contact-container-title .searchInput {
  width: 250px;
  background: var(--table-row-bg);
  border: 1px solid #ff6b35;
  outline: none;
  border-radius: 8px;
  padding: 5px;
  color: var(--font-color);
}

.contact-container-title h1 {
  color: var(--contact-container-title-color);
  font-weight: 800;
  font-size: 32px;
  line-height: 47px;
}

/* table */
.contact-container-body {
  padding: 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: hidden;
}

.contact-container-body thead {
  max-width: 1218px;
  height: 56px;
  background: var(--table-head-bg);
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  border-radius: 8px 8px 0 0;
}

.contact-container-body thead tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 200px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
}

.contact-container-body thead tr th {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}

.contact-container-body thead tr i {
  font-size: 25px;
  cursor: pointer;
  padding-left: 15px;
  align-items: center;
}

.table-body {
  max-width: 1218px;
}
.contact-container-body .table-body .sor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 200px;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  max-width: 100%;
  height: 56px;
  background: var(--table-row-bg);
}

.sor td {
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-container-body tbody .sor:nth-child(even) {
  background-color: var(--table-child-row-bg);
}

.contact-container-body tbody .sor:hover {
  background-color: var(--table-row-bg-hover);
}

.contact-container-body tbody .sor i {
  padding-left: 10px;
  cursor: pointer;
}

.contact-container-body tbody .sor input {
  width: 60px;
  border: none;
  background: transparent;
  color: var(--font-color);
}

.action-button-container{
  width: 200px;
}
